* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Raleway", sans-serif;
  color: #252432;
  background-color: #f5f8ff;
  /* font-family: "Inter", sans-serif; */
}

/* Shared Styles */

.primary-dimensions {
  width: 100%;
  margin: 0 auto;
}

.secondary-dimensions {
  width: 1140px;
  margin: 0 auto;
}

.btn-primary {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 16px;
  font-weight: bold;
  background-color: #4e47ff;
  border: none;
  border-radius: 10px;
  padding: 12px 36px;
  cursor: pointer;
}

.btn-primary:hover {
  color: #4e47ff;
  font-size: 18px;
  padding: 16px 42px;
  background-color: white;
  border: 1px solid #4e47ff;
  transition-delay: 250ms;
}

/* Banner Section Styles */

.banner {
  height: 698px;
  background-image: url("../images/Hero-bg.png");
  background-color: rgba(78, 71, 255, 0.01);
}

.nav-container {
  padding-top: 50px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav-container a {
  text-decoration: none;
  cursor: pointer;
}

.logo {
  font-family: "Inter", sans-serif;
  color: #4e47ff;
  font-size: 34px;
  font-weight: 900;
}

.hero-container {
  text-align: center;
  width: 905px;
  height: 235px;
  margin: 152px auto;
}

.hero-title {
  font-size: 65px;
  font-weight: bold;
  margin-bottom: 37px;
}

/* Action Section Styles */

.action-container {
  /* outline: 2px solid red; */
  display: flex;
  gap: 220px;
  align-items: center;
  /* justify-content: space-between; */
  margin: 116px auto;
}

.action-title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 23px;
}

.action-description {
  font-size: 24px;
  line-height: 30px;
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 23px;
}

.action-img > img {
  border: none;
  border-radius: 48px;
}

/* Productive User Section */

.productive-user-container {
  background-color: rgba(78, 71, 255, 0.1);
  border-radius: 24px;
  padding: 50px 142px;
  text-align: center;
  margin-bottom: 148px;
}

.productive-user-title {
  font-size: 38px;
  font-weight: bold;
  padding-bottom: 40px;
}

.productive-user-stats {
  display: flex;
  justify-content: space-between;
}

.productive-user {
  font-family: "Inter", sans-serif;
}

.productive-user-numbers {
  font-size: 80px;
  font-weight: bold;
  color: #4e47ff;
}

.productive-user-info {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.5);
}

/* Users Review Section Styles */

.users-review-container {
  text-align: center;
  margin-bottom: 126px;
}

.users-review-title {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 50px;
}

.users-review {
  font-family: "Raleway", sans-serif;
  display: flex;
  gap: 20px;
}

.user-review {
  background-color: white;
  border-radius: 14px;
  padding: 24px;
  text-align: left;
}

.review-title {
  font-size: 24px;
  margin-top: 24px;
}

.review {
  margin-top: 8px;
}

.reviewer {
  margin-top: 24px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.reviewer-img {
  border-radius: 50%;
}

.reviewer-name {
  font-size: 16px;
  font-weight: bold;
  color: rgb(117, 117, 117);
}

.review-date {
  font-size: 16px;
  color: rgb(179, 179, 179);
}

/* Extra Section Styles */

.promo-extra-container {
  background-color: white;
  text-align: center;
  border-radius: 14px;
  padding: 71px 150px;
  margin-bottom: 92px;
}

.promo-extra-title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.promo-extra-description {
  color: rgba(37, 36, 50, 0.5);
  margin-bottom: 20px;
}

.promo-extra-img {
  margin-top: 20px;
  border-radius: 48px;
}
